/* Calculator display font */

@font-face {
  font-family: display-7;
  src: url(fonts/digital-7.ttf);
}

/* Body */

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calc-body {
  margin: auto;
  width: 32rem;
  height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  border-style: solid;
  border-radius: 15px;
  padding: 1rem;
  background-color: rgb(230,230,230);
}

/* LCD screen */

#screen {
  width: 27.5rem;
  height: 3.5rem;
  border-style: solid;
  border-radius: 10px;
  font-family: display-7;
  font-size: 70px;
  text-align: right;
  padding: 0 1rem 0 0.6rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  background-color: rgb(200,210,200);
}

.digit {
  width: 3rem;
  margin: 0 -0.6rem;
  text-align: right;
}

.decimal-point {
  width: 2.2rem;
  text-align: center;
}

/* Buttons */

#buttons {
  display: grid;
  grid-template-columns: 7.5rem 5rem 5rem 5rem 7.5rem ;
  grid-template-rows: repeat(5,4rem);
  gap: 0.5rem;
}

button {
  font-size: 2rem;
  background-color: dimgrey;
  border-style: solid;
  border-radius: 10px;
  border-color: dimgrey;
}

#u43 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}

#u67, #u6567 {
  background-color: crimson;
  border-color: crimson;
}

.number-key {
  background-color: darkgray;
  border-color: darkgray;
}

.col0, .col4{
  margin: 0 1.25rem;
}